
.head{
    padding-top: 20px;
    background-image: url("https://images.unsplash.com/photo-1517436073-8b3b0f1b5f1c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80")!important;
}


video {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: -1;
}

.content {
    display: flex;
}

.left{
    flex: 1;
    border: red solid 1px;
    padding: 20px;
}

.right{
    flex: 1;
    border: blue solid 1px;
    padding: 20px;
 
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

}

@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}
