.main {
  margin-top: 50px;
}

/* Canvas {
    z-index: -2;
} */




.title {
  margin-top: 50px;
  background-color: #202020 !important;
}

.first_title{
  
  margin: 30px 20px 20px 20px;
  background-color: #202020 !important;
  text-align: left;
}

.txt_1 {
  margin: 10px;
  text-align: left;
  font-style: italic;
}

.second_title{

  margin: 50px 20px 20px 20px;
  background-color: #202020 !important;
  text-align: right;
}

.txt_2 {
  margin: 10px;
  text-align: right;
  font-style: italic;
}

.artist_list {
  display: flex;
  height: 200px;
  margin: 30px 20px 20px 20px;
  overflow-y: hidden;
}

.card {
  width: 130px;
  height: 200px;
}

.card_body {
  width: 100px;
  margin: 0 auto 0 auto;
  word-wrap: break-word;
}

.card h3 {
  font-size: 15px;
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  margin: 5px;
}

@media (max-width: 768px) {
  /* .content {
        flex-direction: column;
    } */
}

/* @media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
} */
