@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','PT Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-wavy-lines_23-2149151737.jpg?w=1380&t=st=1676017485~exp=1676018085~hmac=9b4b3b2731501b9a92f58e800bb967ab868092cbf46e2619f727ab108216b87c")!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   */

  

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #202020; */
  background-color: #0D1114;
  color: rgb(255, 255, 255);
  /* color: #7cd4fd; */
  /* color: #2d84ac; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* a {
  background: none !important;
} */